body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2d42;
    color: #edf2f4;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.highlight {
    color: #d90429;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}
