/* Header styles */
.main-header {
    display: flex;
    align-items: center;
    width: calc(100% - 250px); /* Adjusted to fit sidebar */
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px; /* Adjusted to fit sidebar */
}
