h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.profile-thumbnail {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-thumbnail img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="file"]:focus {
    border-color: #1d2a38;
    outline: none;
}

.button-container {
    display: flex;
    gap: 10px; /* Add gap between buttons */
    justify-content: flex-start; /* Align buttons to the start */
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #1d2a38;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff2592;
}

button#clearButton {
    background-color: #1d2a38;
}

button#clearButton:hover {
    background-color: #ff2592;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    background-color: #f44336; /* Red */
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.notification.show {
    display: block;
}

/* Toggle Button */
.toggle-sidebar {
    background: none;
    color: #304050;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

.toggle-sidebar:hover {
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
}

/* Sidebar and Main Content Styles */
.sidebar-closed .sidebar {
    margin-left: -250px; /* Adjust to hide sidebar */
}

.sidebar-closed .main-header {
    left: 0;
    width: 100%;
}

.sidebar-closed .main-content {
    margin-left: 0;
}
