/* screens.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-header {
    display: flex;
    align-items: center;
    width: calc(100% - 250px);
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
}

.main-content {
    flex: 1;
    padding: 1em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 250px;
    margin-top: 60px;
    overflow: auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.content-controls {
    display: flex;
    align-items: center;
}

.add-screen-button {
    background-color: #1d2a38;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-screen-button:hover {
    background-color: #ff2592;
}

/* Screen Card Styles */
.screen-card {
    display: inline-block;
    position: relative;
    width: 320px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    background-color: #fff;
    cursor: pointer;
}

.screen-card img {
    width: 90%;
    height: auto;
    margin: 15px;
    display: block;
}

.screen-card .screen-info {
    padding: 10px;
    position: relative;
}

.screen-card .screen-info h3 {
    margin: 0;
    font-size: 1em;
    color: #333;
}

.screen-card .screen-info p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    color: #888;
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.status.online {
    background-color: #5cb85c;
    color: #fff;
}

.status.offline {
    background-color: #d9534f;
    color: #fff;
}

/* Popup Styles */
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-content h2 {
    background-color: #263e4b;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 20px -20px;
    text-align: center;
}

.close-btn {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #ff2592;
    text-decoration: none;
    cursor: pointer;
}

.popup-body p {
    margin: 10px 0;
    text-align: center;
}

.popup-body .app-links {
    text-align: center;
    margin: 20px 0;
}

.popup-body input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-body .next-button {
    background-color: #263e4b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.dropdown-options-menu {
    display: none;
    width: 100px;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    margin-top: -120px; /* Adjust the value as needed */
    margin-left: 50px;
}

.dropdown-options-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-options-menu a:hover {
    background-color: #f1f1f1;
}

.filters-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filters-section .dropdown {
    position: relative;
    display: inline-block;
}

.filters-section .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.filters-section .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filters-section .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.filters-section .dropdown:hover .dropdown-content {
    display: block;
}

.filters-section a {
    margin-right: 15px;
    color: #263e4b;
    text-decoration: none;
    font-size: 14px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 80%;
}

.popup-content h2 {
    margin-top: 0;
}

.close-btn{
    margin-top: 20px;
}

.close-btn :hover{
    color: #ff2592;
}

.popup-body {
    margin-bottom: 20px;
}

.popup-body label {
    display: block;
    margin-top: 10px;
}

.popup-body select,
.popup-body input,
.popup-body button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.popup-body button {
    background-color: #263e4b;
    color: white;
    border: none;
    cursor: pointer;
}

.popup-body button:hover {
    background-color: #ff2592;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
}

.popup-footer button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-footer button:nth-child(1) {
    background-color: #f1f1f1;
    color: #333;
}

.popup-footer button:nth-child(1):hover {
    background-color: #e1e1e1; /* Slightly darker gray on hover */
}

.popup-footer button:nth-child(2) {
    background-color: #263e4b;
    color: white;
}

.popup-footer button:nth-child(2):hover {
    background-color: #ff2592;
}
