/* template.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-header {
    display: flex;
    align-items: center;
    width: calc(100% - 250px);
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    transition: left 0.3s, width 0.3s;
}

.user-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 3em;
}

.user-menu .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-menu .user-name {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 1em;
    top: 4em;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    padding: 1em;
}

.dropdown-menu a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.sidebar {
    width: 250px;
    background-color: #2f4050;
    color: #a7b1c2;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: margin-left 0.3s;
}

.sidebar-header {
    padding: 1em;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #3a4a5b;
}

.sidebar-header .logo {
    max-width: 100%;
    height: auto;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    border-bottom: 1px solid #3a4a5b;
}

.sidebar-menu li a {
    color: #a7b1c2;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    padding: 15px;
}

.sidebar-menu li a i {
    margin-right: 10px;
    font-size: 1.2em;
}

.sidebar-menu li a .fas.fa-arrow-right {
    margin-left: auto;
}

.sidebar-menu li a:hover {
    background-color: #1a2733;
    color: #ffffff;
}

.sidebar-menu li a.active {
    background-color: #1a2733;
    color: #ffffff;
}

/* Notification Icon */
#notificationIcon {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
}

#notificationIcon.has-notifications::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

/* Toggle Button */
.toggle-sidebar {
    background: none;
    color: #304050;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

.toggle-sidebar:hover {
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
}

/* Sidebar and Main Content Styles */
.sidebar-closed .sidebar {
    margin-left: -250px; /* Adjust to hide sidebar */
}

.sidebar-closed .main-header {
    left: 0;
    width: 100%;
}

.sidebar-closed .main-content {
    margin-left: 0;
}

/* Notifications */
.notification-container {
    position: relative;
    padding-right: 20px;
    color: #263e4b;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    padding: 10px;
}

.notification-dropdown .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.notification-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}

.notification-dropdown ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.notification-dropdown ul li .event-info {
    flex-grow: 1;
}

.notification-dropdown ul li .event-info span {
    display: block;
}

.notification-dropdown ul li .event-info .event-title {
    font-weight: bold;
}

.notification-dropdown ul li .event-info .event-time {
    font-size: 0.85em;
    color: #888;
}

.notification-dropdown ul li .event-info .event-description {
    font-size: 0.9em;
}

.notification-dropdown ul li .mark-as-read {
    cursor: pointer;
    color: #888;
    margin-left: 10px;
}

.notification-dropdown .view-all {
    display: block;
    text-align: center;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
}

.notification-dropdown .view-all:hover {
    text-decoration: underline;
}

.notification-dropdown.has-notifications {
    display: block;
}
